/* stylesheet for portfolio page*/
#box4 {
    box-sizing: border-box;
    float: left;
    margin: 40px 940px 150px 300px;
    border: 1px solid;
    padding: 40px 460px 600px 60px;
    display: block;
    border-color: #dddddd;
    background-color: #ffffff;
    position: relative;
    font-size: 50px;
}

.boxposition {
    position: absolute;
    z-index: 1;
    padding: 20px 100px 100px 90px;
    margin: 0px 10px 50px -60px;
}

.boxposition1 {
    position: absolute;
    z-index: 1;
    padding: -60px -10px 10px 10px;
    margin: 0px 10px 50px -20px;
}

.boxposition2 {
    position: absolute;
    z-index: 1;
    padding: -50px 100px 50px 0px;
    margin: 0px -200px -150px 210px;
}

.boxposition3 {
    position: absolute;
    z-index: 1;
    padding: 150px 0px 10px 10px;
    margin: 20px 10px 50px -30px;
}

.boxposition4 {
    position: absolute;
    z-index: 1;
    padding: 150px 0px 10px 10px;
    margin: 20px -50px 50px 200px;
}

.boxposition5 {
    position: absolute;
    z-index: 1;
    padding: 150px 0px 10px 10px;
    margin: 190px 10px 50px -30px;
}
.textbar1 {
    padding: 10px;
    position: absolute;
    z-index: 2;                                                          
    width: 180px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
    height: 40px;
    background-color: #4aaaa5;
    color: #ffffff;
    opacity: 70%;
    text-align: center;
    margin: 80px 10px 50px -20px;
    font-size: 15px;
    
}

.textbar2 {
    padding: 10px;
    position: absolute;
    z-index: 2;                                                          
    width: 180px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
    height: 40px;
    background-color: #4aaaa5;
    color: #ffffff;
    opacity: 70%;
    text-align: center;
    margin: 80px 60px 50px 210px;
    font-size: 15px;
    
}
.textbar3 {
    padding: 10px;
    position: absolute;
    z-index: 2;                                                          
    width: 180px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
    height: 40px;
    background-color: #4aaaa5;
    color: #ffffff;
    opacity: 70%;
    text-align: center;
    margin: 250px 10px 50px -20px;
    font-size: 15px;
    
}
.textbar4 {
    padding: 10px;
    position: absolute;
    z-index: 2;                                                          
    width: 180px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
    height: 40px;
    background-color: #4aaaa5;
    color: #ffffff;
    opacity: 70%;
    text-align: center;
    margin: 250px 10px 50px 210px;
    font-size: 15px;
    
}
.textbar5 {
    padding: 10px;
    position: absolute;
    z-index: 2;                                                          
    width: 180px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
    height: 40px;
    background-color: #4aaaa5;
    color: #ffffff;
    opacity: 70%;
    text-align: center;
    margin: 410px 10px 50px -20px;
    font-size: 15px;
    
}



